<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body fix_body>
<div class="container-fluid top_fix">
    <div class="navbar navbar-inverse" role="navigation">
        <a href="#" class="navbar-brand">Spots store</a>
    </div>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
           @Html.Action("Menu", "Nav")
        </div>
        <div class="col-xs-8">
            @RenderBody()
        </div>
    </div>
    <!--тут содержиться html разметка сюда потом надо будет подключить все стили и все такое
    Renderbody это представление которое сюда передастся тоесть List к примеру вообще надо разбить его
    на меню и все остальное тогда будет круто
    -->
   
</div>
</body>
</html>
